{% extends 'base.html' %}
{% load static %}

{% block content %}

<section  class="banner_section">
                
  <!-- animated dots -->
  <div class="dotes_anim_bloack ">
      <div class="dots dotes_1 "></div>
      <div class="dots dotes_2 "></div>
      <div class="dots dotes_3 "></div>
      <div class="dots dotes_4 "></div>
      <div class="dots dotes_5 "></div>
      <div class="dots dotes_6 "></div>
      <div class="dots dotes_7 "></div>
      <div class="dots dotes_8 "></div>
  </div>

  <div class="container ">
      <div class="row ">
          <div class="col-lg-6 col-md-12 ">
              <div class="banner_text ">
                  <div class="ban_inner_text " data-aos="fade-up " data-aos-duration="1500 ">
                      <span style="color: blue;"><i ></i> Limpieza</span>
                      <h1 style="color: blue;">Orden</span>
                      </h1>
                      <h2 style="color: blue;">y Prosperidad </h2>
                      <p style="color: blue;">Pata todos los vecinos del municipio</p>
                  </div>



                  <div class="offers " data-aos="fade-up " data-aos-duration="1500 ">
                      <h2 style="color: blue; font-family: cursive; ">Trabajemos Juntos </h2>
                  </div>

              </div>
          </div>

          <div class="col-lg-6 col-md-12 ">
              <div class="banner_image " data-aos="fade-up " data-aos-duration="1500 ">
                  <img src="{% static "images/new/hero_image.png"%} " alt="image ">
              </div>
          </div>
      </div>

  </div>

</section>


<br> <br><br><br>
        <!-- Story-Section-Start -->
        <section class="row_am latest_story " id="blog ">
          <!-- container start -->
          <div class="container ">
              <div class="section_title " data-aos="fade-in " data-aos-duration="1500 " data-aos-delay="100 ">
                  <h2>Desarrollo para <span>todos</span></h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typese tting <br> indus orem Ipsum has beenthe standard dummy.</p>
              </div>
              <!-- row start -->
              <div class="row ">
                  <!-- story -->
                  <div class="col-md-4 ">
                      <div class="story_box " data-aos="fade-up " data-aos-duration="1500 ">
                          <div class="story_img ">
                              <img src="{% static "images/new/story-01.png" %} " alt="image ">
                              <span><span>23</span> AUG</span>
                          </div>
                          <div class="story_text ">
                              <div class="statstic ">
                                  <span><i class="icofont-user-suited "></i> Admin</span>
                                  <span><i class="icofont-speech-comments "></i> 36 Comments</span>
                              </div>
                              <h3>Pavimentación de calle sector Escuela, Aldea Pie del Cerro!</h3>
                              <p>Otro proyecto que avanza a buen ritmo, es la pavimentación del Sector Instituto, en Aldea Pie del Cerro, en donde se trabaja en el mejoramiento de 142 metros lineales de pavimento. Una acción más que lleva el desarrollo a nuestras comunidades.</p>
                              <a href="blog-detail.html " class="btn text_btn ">Leer Más <i class="icofont-arrow-right "></i></a>
                          </div>
                      </div>
                  </div>

                  <!-- story -->
                  <div class="col-md-4 ">
                      <div class="story_box " data-aos="fade-up " data-aos-duration="1500 ">
                          <div class="story_img ">
                              <img src="{% static "images/new/story-02.png" %} " alt="image ">
                              <span><span>18</span> AUG</span>
                          </div>
                          <div class="story_text ">
                              <div class="statstic ">
                                  <span><i class="icofont-user-suited "></i> Admin</span>
                                  <span><i class="icofont-speech-comments "></i> 36 Comments</span>
                              </div>
                              <h3>Finaliza ampliación del INBA, en Cantón Rincón de la Piedra</h3>
                              <p>Asi quedo el Instituto Nacional de Educación Básica por cooperativa, luego de la ampliación que se realizó a sus intalaciones. Gracias a las buenas gestiones de la Administración Municipal ante el </p>
                              <a href="blog-detail.html " class="btn text_btn ">Leer Más <i class="icofont-arrow-right "></i></a>
                          </div>
                      </div>
                  </div>

                  <!-- story -->
                  <div class="col-md-4 ">
                      <div class="story_box " data-aos="fade-up " data-aos-duration="1500 ">
                          <div class="story_img ">
                              <img src="{% static "images/new/story-03.png" %} " alt="image ">
                              <span><span>9</span> AUG</span>
                          </div>
                          <div class="story_text ">
                              <div class="statstic ">
                                  <span><i class="icofont-user-suited "></i> Admin</span>
                                  <span><i class="icofont-speech-comments "></i> 36 Comments</span>
                              </div>
                              <h3>Escuela Municipal de Arte, es una ventana para el talento de niños y jóvenes palencianos.</h3>
                              <p>La escuela municipal de arte continua sus jornadas de trabajo, con niños y jóvenes de nuestro municipio, con clases de guitarra, violín, canto y danza; beneficiando actualmente a 104 alumnos en estas áreas.</p>
                              <a href="blog-detail.html " class="btn text_btn ">Leer Más <i class="icofont-arrow-right "></i></a>
                          </div>
                      </div>
                  </div>
                  <!-- story -->
                  <div class="col-md-4 ">
                    <div class="story_box " data-aos="fade-up " data-aos-duration="1500 ">
                        <div class="story_img ">
                            <img src="{% static "images/new/story-02.png " %}" alt="image ">
                            <span><span>18</span> AUG</span>
                        </div>
                        <div class="story_text ">
                            <div class="statstic ">
                                <span><i class="icofont-user-suited "></i> Admin</span>
                                <span><i class="icofont-speech-comments "></i> 36 Comments</span>
                            </div>
                            <h3>Finaliza ampliación del INBA, en Cantón Rincón de la Piedra</h3>
                            <p>Asi quedo el Instituto Nacional de Educación Básica por cooperativa, luego de la ampliación que se realizó a sus intalaciones. Gracias a las buenas gestiones de la Administración Municipal ante el </p>
                            <a href="blog-detail.html " class="btn text_btn ">Leer Más <i class="icofont-arrow-right "></i></a>
                        </div>
                    </div>
                </div>
                   <!-- story -->
                   <div class="col-md-4 ">
                    <div class="story_box " data-aos="fade-up " data-aos-duration="1500 ">
                        <div class="story_img ">
                            <img src="{% static "images/new/story-03.png" %} " alt="image ">
                            <span><span>9</span> AUG</span>
                        </div>
                        <div class="story_text ">
                            <div class="statstic ">
                                <span><i class="icofont-user-suited "></i> Admin</span>
                                <span><i class="icofont-speech-comments "></i> 36 Comments</span>
                            </div>
                            <h3>Escuela Municipal de Arte, es una ventana para el talento de niños y jóvenes palencianos.</h3>
                            <p>La escuela municipal de arte continua sus jornadas de trabajo, con niños y jóvenes de nuestro municipio, con clases de guitarra, violín, canto y danza; beneficiando actualmente a 104 alumnos en estas áreas.</p>
                            <a href="blog-detail.html " class="btn text_btn ">Leer Más <i class="icofont-arrow-right "></i></a>
                        </div>
                    </div>
                </div>
                 <!-- story -->
                 <div class="col-md-4 ">
                  <div class="story_box " data-aos="fade-up " data-aos-duration="1500 ">
                      <div class="story_img ">
                          <img src="{% static "images/new/story-01.png" %} " alt="image ">
                          <span><span>23</span> AUG</span>
                      </div>
                      <div class="story_text ">
                          <div class="statstic ">
                              <span><i class="icofont-user-suited "></i> Admin</span>
                              <span><i class="icofont-speech-comments "></i> 36 Comments</span>
                          </div>
                          <h3>Pavimentación de calle sector Escuela, Aldea Pie del Cerro!</h3>
                          <p>Otro proyecto que avanza a buen ritmo, es la pavimentación del Sector Instituto, en Aldea Pie del Cerro, en donde se trabaja en el mejoramiento de 142 metros lineales de pavimento. Una acción más que lleva el desarrollo a nuestras comunidades.</p>
                          <a href="blog-detail.html " class="btn text_btn ">Leer Más <i class="icofont-arrow-right "></i></a>
                      </div>
                  </div>
              </div>
              </div>
              <!-- row end -->
          </div>
          <!-- container end -->
      </section>
      <!-- Story-Section-end -->

      <!-- Need support Section Start -->
      <section class="need_section ">
          <div class="need_section_inner ">
              <div class="container ">
                  <div class="need_block ">
                      <div class="need_text ">
                          <div class="section_title ">
                              <h2>Need support ? contact our team</h2>
                              <p><i class="icofont-clock-time "></i> Mon - Fri: 9 am to 5 am</p>
                          </div>
                      </div>
                      <div class="need_action ">
                          <a href="tel:1234567899 " class="btn "><i class="icofont-phone-circle "></i> +1 123 456 7890</a>
                          <a href="#faqBlock " class="faq_btn ">Read The FAQ </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Need support Section End -->


{% endblock %}
